/* --------------------------------

	Colors

-------------------------------- */

$text-primary:#515365;
$text-active:#0380c2;
$title-post: #222;


/* --------------------------------

	End Colors

-------------------------------- */